<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="main-layout">
      <div class="grid-cell">
        {% include navigation.html %}
          <div class="main-content" >
            <div class="grid-cell grid-centered main-content">
                {{ content }}
            </div>
            <div class="grid-cell links-cell side-bar upper-links-cell">
                {% include links.html %}
            </div>
          </div>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
